* {
    margin: 0;
    box-sizing: border-box;
}

/*TOP*/

#topPage {
    display: flex;
    flex-direction: row;
}

#topPage, footer, .navBar {
    background-color: #19ae9a;
}

/*BACKGROUND COLOR*/
body {
    background-color: #b8e6e0;
}

#mainTitle, #sub1, #sub3, #sub5 {
    background-color: #b8e6e0;
}

#sub2, #sub4, #sub6 {
    background-color: #93cdc6;
}

h2, p {
    text-align: center;
}

@font-face {
    font-family: listFont;
    src: url("./home/src/fonts/ProximaNovaLight.otf");
}

ul li a {
    font: calc(1px + 0.7vw) listFont, sans-serif;
    color: white;
    text-underline-offset: 5px;
    letter-spacing: 3px;
}

ul li {
    list-style-type: none;
    padding: 0 1%;
    display: inline;
    margin: auto;
    text-align: center;
}

#miniNav {
    text-align: center;
    padding-bottom: 1%;
    margin: auto;
}

#miniNav a:hover {
    color: #185363;
}

/*HEADER*/

header {
    text-align: left;
    display: flex;
    flex-direction: column;
    padding: 2% 28% 6% 2%;
    line-height: 30px;
}

body *{
    text-align: center;
}
nav ul{
    display: inline;
    list-style: none;
}/*NAVIGATION BAR*/
@font-face {
    font-family: listFont;
    src: url("src/fonts/ProximaNovaLight.otf");
}

nav {
    align-self: center;
    padding-left: 28%;
    font: calc(1px + 0.7vw) listFont, sans-serif;
    color: white;
    text-underline-offset: 5px;
    letter-spacing: 3px;
    text-transform: uppercase;
}

/* Navbar container */
.navBar {
    overflow: hidden;
}

/* Links inside the navbar */
.navBar a {
    float: right;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* The dropdown container */
.dropdown {
    float: right;
    overflow: hidden;
}

/* Dropdown button */
.dropdown .dropdownButton {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: listFont, sans-serif; /* Important for vertical align on mobile phones */
    letter-spacing: 3px;
    text-transform: uppercase;
    margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navBar a:hover, .dropdown:hover .dropdownButton {
    background-color: #0e3b45;
}

/* Dropdown content (hidden by default) */
.dropdownContent {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdownContent a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdownContent a:hover {
    background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdownContent {
    display: block;
}
main{
    margin:0 10vw;
}
main h1,main h2, main h3, main p{
    padding: 1vh 1vw;
}
main li{
    display: inline-block;
    text-decoration: underline;
    background-color: #93cdc6;
    color: #046f73;
    padding: 2vh 3vw;
}
main li h3{
    padding: 0;
}
#SEALS{
    padding: 3vh 0;
}
#earless{
    display:flex;
    flex-direction:column;
    visibility:collapse;
}
#eared{
    display:flex;
    flex-direction:column;
    visibility:collapse;
}
#walrus{
    display:flex;
    flex-direction:column;
    visibility:collapse;
}
#map {
    text-align: center;
    margin: auto;
    height: 70vh;
    width: 40vw;
}
footer{
    margin-top: 10%;
}